<div>
  <div class="navbar">
    <div class="navbar-header">
      <h1 routerLinkActive="active"><a routerLink="/welcome">NoteTaking App</a></h1>
    </div>
    <div class="navbar-ele">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="/notes">MakeNotes</a></li>
        <li routerLinkActive="active"><a routerLink="/signup">SignUp</a> </li>
        <li routerLinkActive="active"><a routerLink="/login">LogIn</a></li>
      </ul>
    </div>
  </div>
</div>